[access "refs/*"]
	owner = group user/김태광 (erotica)
[access "refs/for/refs/*"]
	read = group user/김태광 (erotica)
	push = group user/김태광 (erotica)
	label-Code-Review = -2..+2 group user/김태광 (erotica)
	label-Verified = -1..+1 group user/김태광 (erotica)
	rebase = group user/김태광 (erotica)
	removeReviewer = group user/김태광 (erotica)
	submit = group user/김태광 (erotica)
[access "refs/heads/*"]
	read = group user/김태광 (erotica)
	create = group user/김태광 (erotica)
	push = +force group user/김태광 (erotica)
	pushMerge = group user/김태광 (erotica)
[access "refs/tags/*"]
	push = +force group user/김태광 (erotica)
	pushTag = group user/김태광 (erotica)
	pushSignedTag = group user/김태광 (erotica)
